
<script src="https://kit.fontawesome.com/60f84e5244.js"></script>
 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<link rel="stylesheet" href="/css/_footer.css">

<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3 style="font-weight: 600;">CampStore</h3>
                    <p>
                        Jalandhar, <br>
                        Punjab<br>
                        <br>
                        <strong>Phone:</strong> +91 8619628452<br>
                        <strong>Email:</strong> <a href="mailto: camps@gmail.com">camps@gmail.com</a><br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>For regular updates subscribe to our newsletter</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" style="background-color: grey;"
                            value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">


        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://discord.gg/"><i class="fab fa-discord"></i></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram fa-2x"></a>
            <a href="https://t.me/"><i class="fa fa-telegram"></i></a>
        </div>

    </div>

</footer>