<link rel="stylesheet" href="/css/home.css">


<img src="../images/mainBg.jpeg" class="d-block w-100 container1" alt="..." style="height:450px; ">
<div class="txt">
   <h1 class="text">UniVendor</h1>
</div>

<div>
   <h3 style="text-decoration: underline; margin-left: 10px;">Electronic</h3>
   <div id="carouselExampleCaptions-1" class="carousel slide carousel-fade mb-4" data-bs-ride="carousel">
      <ol class="a-carousel carousel-indicators">
         <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
         <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
         <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="card-group mx-1">
               <div class="card mx-1">
                  <img src="../images/lap1.jpg" class="card-img-top w-100" alt="..."
                     style=" height: 300px; padding: 0px 10%;">
                  <div class="card-body">
                     <h5 class="card-title">(Renewed) Life Digital Zed AIR CX3 15.6-inch Laptop (Core i3-5005U/8GB/1TB
                        HDD)</h5>
                     <p class="card-text">Price: Rs 15500</p>
                     <p class="card-text">Name: Tahir Hussain</p>
                     <p class="card-text">Year: 2nd</p>
                     <button class="btn border-2 border-success rounded">Start Chatting</button>
                  </div>
               </div>
               <div class="card ">
                  <img src="../images/cal1.jpeg" class="card-img-top w-100" alt="..."
                     style=" height: 300px; padding: 0px 10%;">
                  <div class="card-body">
                     <h5 class="card-title">Casio ES PLUS Series Non-Programmable Calculator FX-991ES PLUS</h5>
                     <p class="card-text">Price: Rs 700</p>
                     <p class="card-text">Name: Jatin Jindal</p>
                     <p class="card-text">Year: 3rd</p>
                     <button class="btn border-2 border-success rounded">Start Chatting</button>
                  </div>
               </div>
               <div class="card">
                  <img src="../images/h2.jpeg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
                  <div class="card-body">
                     <h5 class="card-title">boAt Bassheads 152 in Ear Wired Earphones with Mic(Active Black)</h5>
                     <p class="card-text">Price: Rs 300</p>
                     <p class="card-text">Name: Yash Vijay</p>
                     <p class="card-text">Year: 2nd</p>
                     <button class="btn border-2 border-success rounded">Start Chatting</button>
                  </div>
               </div>
            </div>
         </div>

         <div class="carousel-item">

            <div class="card-group ">
               <div class="card " style="margin-left: 10px;margin-right: 10px;">
                  <img src="../images/lap2.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
                  <div class="card-body">
                     <h5 class="card-title">ASUS ZenBook i5 8th Gen 14-inch (8GB RAM/256GB SSD/Windows 10)</h5>
                     <p class="card-text">Price: Rs 30000</p>
                     <p class="card-text">Name: Shivam Jindal</p>
                     <p class="card-text">Year: 3nd</p>
                     <button class="btn border-2 border-success rounded">Start Chatting</button>
                  </div>
               </div>
               <div class="card" style="margin-left: 10px;margin-right: 10px;">
                  <img src="../images/usb.jfif" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
                  <div class="card-body">
                     <h5 class="card-title">AmazonBasics Micro USB Charging Cable (6 Feet, Black)</h5>
                     <p class="card-text">Price: Rs 700</p>
                     <p class="card-text">Name: Parth Saraswat</p>
                     <p class="card-text">Year: 2nd</p>
                     <button class="btn border-2 border-success rounded">Start Chatting</button>
                  </div>
               </div>
               <div class="card " style="margin-left: 10px;margin-right: 10px;">
                  <img src="../images/cal2.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
                  <div class="card-body">
                     <h5 class="card-title">Casio ES PLUS Series Non-Programmable Calculator FX-300MS PLUS</h5>
                     <p class="card-text">Price: Rs 650</p>
                     <p class="card-text">Name: Shashank Agarwal</p>
                     <p class="card-text">Year: 2nd</p>
                     <button class="btn border-2 border-success rounded">Start Chatting</button>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="card-group ">
               <div class="card">
                  <img src="../images/e7.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
                  <div class="card-body">
                     <h5 class="card-title">Apple Iphone 5 (White, 16 GB) 8MP Rear Camera | 1.2MP Front Camera</h5>
                     <p class="card-text">Price: Rs 8500</p>
                     <p class="card-text">Name: Sumit Agarwal</p>
                     <p class="card-text">Year: 3rd</p>
                     <button class="btn border-2 border-success rounded">Start Chatting</button>
                  </div>
               </div>
               <div class="card">
                  <img src="../images/e8.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
                  <div class="card-body">
                     <h5 class="card-title">Apple MacBook Air (13-inch, 8GB RAM, 128GB Storage, 1.8GHz Intel Core i5) -
                        Silver</h5>
                     <p class="card-text">Price: Rs 25500</p>
                     <p class="card-text">Name: Jatin Jindal</p>
                     <p class="card-text">Year: 2nd</p>
                     <button class="btn border-2 border-success rounded">Start Chatting</button>
                  </div>
               </div>
               <div class="card">
                  <img src="../images/e9.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
                  <div class="card-body">
                     <h5 class="card-title">Usha EI 1602 1000-Watt Lightweight Dry Iron (multi-colour)</h5>
                     <p class="card-text">Price: Rs 500</p>
                     <p class="card-text">Name: Shashank Agarwal</p>
                     <p class="card-text">Year: 2nd</p>
                     <button class="btn border-2 border-success rounded">Start Chatting</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions-1" role="button" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions-1" role="button" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
      </a>
   </div>
</div>
<h3 style="text-decoration: underline; margin-left: 10px;">Books</h3>
<div id="carouselExampleCaptions-2" class="carousel slide carousel-fade mb-4" data-bs-ride="carousel">
   <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
      <div class="carousel-item active">
         <div class="card-group">
            <div class="card">
               <img src="../images/b1.jfif" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">GATE Correspondence Course(Mechanical Engineering) - Best for GATE Preparation
                  </h5>
                  <p class="card-text">Price: Rs 500</p>
                  <p class="card-text">Name: Shashank Agarwal</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/b2.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Book on Monk Who Sold his Farrari International acclaimed Leadership Guru</h5>
                  <p class="card-text">Price: Rs 600</p>
                  <p class="card-text">Name: Tahir Hussain</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/b3.jfif" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Gate Tutor 2014, Book for Electronic and Communication Engineering</h5>
                  <p class="card-text">Price: Rs 800</p>
                  <p class="card-text">Name: Yash Vijayvargiya</p>
                  <p class="card-text">Year: 1st</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
         </div>
      </div>

      <div class="carousel-item">

         <div class="card-group">
            <div class="card">
               <img src="../images/b4.jfif" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Programming with C Schaum's Outline (2nd Edition) by Byron Gottfried</h5>
                  <p class="card-text">Price: Rs 400</p>
                  <p class="card-text">Name: Jatin Jindal</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/b5.jpeg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Antenna Theory Analysis and design(3rd Edittion)</h5>
                  <p class="card-text">Price: Rs 500</p>
                  <p class="card-text">Name: Shashank Agarwal</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/b6.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Gate 2021 Mechanical Engineering Previous Solved Paper</h5>
                  <p class="card-text">Price: Rs 300</p>
                  <p class="card-text">Name: Parth Saraswat</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <div class="card-group">
            <div class="card">
               <img src="../images/b7.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">A Million To One by Tony Faggioli There are demon that you never see comming.
                  </h5>
                  <p class="card-text">Price: Rs 700</p>
                  <p class="card-text">Name: Shashank Agarwal</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/b8.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Advanced Physics for preperation of physics (OXFORD) by Steve Adam</h5>
                  <p class="card-text">Price: Rs 500</p>
                  <p class="card-text">Name: Yash Agarwal</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/b9.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Chemistry book for 12th class for preperation of JEE</h5>
                  <p class="card-text">Price: Rs 600</p>
                  <p class="card-text">Name: Parth Saraswat</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleCaptions-2" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleCaptions-2" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
   </a>
</div>
<h3 style="text-decoration: underline; margin-left: 10px;">Others</h3>
<div id="carouselExampleCaptions-3" class="carousel slide carousel-fade mb-4" data-bs-ride="carousel">
   <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
      <div class="carousel-item active">
         <div class="card-group">
            <div class="card">
               <img src="../images/coat1.jfif" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Chemistry Lab Coat(White)</h5>
                  <p class="card-text">Price: Rs 100</p>
                  <p class="card-text">Name: Rahul Agarwal</p>
                  <p class="card-text">Year: 1st</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/o7.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title"> ENGINEERING MINI DRAFTER WITH UNBREAKABLE SCALE<h5>
                        <p class="card-text">Price: Rs 200 </p>
                        <p class="card-text">Name: Vipul Sharma </p>
                        <p class="card-text">Year: 2nd </p>
                        <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/t1.jfif" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">VVE Vovalona Smart Multipurpose Foldable Laptop Table (Brown)</h5>
                  <p class="card-text">Price: Rs 400</p>
                  <p class="card-text">Name: Mayank Kumar</p>
                  <p class="card-text">Year: 3rd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
         </div>
      </div>

      <div class="carousel-item">

         <div class="card-group">
            <div class="card">
               <img src="../images/coat3.png" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Manufacturing Lab Coat (Navy Blue)</h5>
                  <p class="card-text">Price: Rs 150</p>
                  <p class="card-text">Name: Madhur Gupta</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/o8.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Drawing Sheet Holder/Chart Holder</h5>
                  <p class="card-text">Price: Rs 100</p>
                  <p class="card-text">Name: Rahul Verma</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/coat1.jfif" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Chemistry Lab Coat(White)</h5>
                  <p class="card-text">Price: Rs 100</p>
                  <p class="card-text">Name: Mridul Pandey</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <div class="card-group">
            <div class="card">
               <img src="../images/t2.jfif" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">VVE Vovalona Smart Multipurpose Foldable Table <h5>
                        <p class="card-text">Price: Rs 250 </p>
                        <p class="card-text">Name: Shashank Agarwal</p>
                        <p class="card-text">Year: 2nd</p>
                        <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/o9.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Camel Mathematical Drawing Instruments</h5>
                  <p class="card-text">Price: Rs 70</p>
                  <p class="card-text">Name: Jainam Sogani</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
            <div class="card">
               <img src="../images/coat2.jpg" class="card-img-top" alt="..." style=" height: 300px; padding: 0px 10%;">
               <div class="card-body">
                  <h5 class="card-title">Chemistry Lab Coat(White)</h5>
                  <p class="card-text">Price: Rs 150</p>
                  <p class="card-text">Name: Abhishekh Choudhary</p>
                  <p class="card-text">Year: 2nd</p>
                  <button class="btn border-2 border-success rounded">Start Chatting</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleCaptions-3" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleCaptions-3" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
   </a>
</div>

<%- include('_footer'); %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>