<script src="https://kit.fontawesome.com/60f84e5244.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="/css/sell_product.css">
<form class="container" action="/users/createPost" method="POST" enctype="multipart/form-data">
    <h1>Enter Product Details</h1>

    <div class="box box_sell">
        <i class="fa fa-pencil"></i>
        <input type="text" name="product_name" placeholder="Product Name">
    </div>

    <div class="box box_sell">
        <i class="fa fa-inr"></i>
        <input type="text" name="product_price" placeholder="Product Price">
    </div>

    <div class="box box_sell">
        <i class="fa fa-book"></i>
        <select class="product_type_sell" name="product_type">
            <% var options=["Select product type..","Books","Electronics","Others"]; %>
                <% for(var i=0; i < 4; i++) { %>
                    <option value='<%= options[i] %>'>
                        <%= options[i] %>
                    </option>
                    <% } %>
        </select>
    </div>
    <div class="attach_product_img">
        <i class="fa fa-paperclip"></i>
        <input name="product_img" type="file" multiple>
    </div>
    <div class="sell_btn">
        <input class="btn btn-light-blue btn-primary prop mb-2" type="submit" value="Sell Now!">
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>