<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="/css/user_sign_up.css">
<script
    type="text/javascript">window.setTimeout("document.getElementById('flash-messages').style.display='none';", 2000); </script>

   

<form class="detail flex " action="/users/create" method="POST">


    <% if (message !="" ) { %>
        <div id="flash-messages">
            <% if (message != "Signup Success" ) { %>
                    <div class="alert alert-danger">
                      <%= message %>
                    </div>
                    <% } %>
        </div>
        <% } %>




    <label for="basic-url" class="form-label my-1">Contact Details</label>
    <div class="row my-4">
        <div class="col">
            <input type="text" name="first_name" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" name="last_name" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>

    <div class="input-group mb-3 my-4">
        <span class="input-group-text" id="basic-addon2">Email Id</span>
        <input type="email" name="email" class="form-control" placeholder="Type your E-mail Id"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
            <input type="password" name="password" id="inputPassword6" class="form-control" style="margin-left: 60px;"
                aria-describedby="passwordHelpInline">
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Confirm Password</label>
            </div>
            <div class="col-auto">
                <input type="password" name="confirm_password" id="inputConfirmPassword6" class="form-control"
                    style="padding-right: 70px;" aria-describedby="passwordHelpInline">
            </div>

        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text" style="color: whitesmoke;">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
                special
                characters, or emoji.
            </span>
        </div>
    </div>

    <div class="input-group mb-3 my-4">
        <span class="input-group-text" id="basic-addon3">Phone No</span>
        <input type="text" name="contact" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <div class="input-group mb-3 my-4">
        <span class="input-group-text" id="basic-addon2">College Year</span>
        <input type="text" name="year" class="form-control" placeholder="Type your college year"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <button class="btn btn-secondary " type="submit">Submit</button>
</form>

<%- include('_footer'); %>