body {
  background-image: url(../images/122.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.decor {
  text-decoration: none;
}

/* Footer CSS */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Contact Form CSS */

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: gray;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #ffeeba;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.text-center-message {
  display: inline;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.text-center-message:hover {
  background-color: #ffce39;
}
